                @font-face {
                    font-family: 'BestTen-CRT';
                    src: url('../../data/others/CRT.ttf') format('truetype'), url('../../data/others/BestTen-CRT.woff') format('woff'), url('../../data/others/BestTen-CRT.eot') format('eot');
                    font-weight: normal;
                    font-style: normal;
                }